.error-toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #f44336; /* Material red */
    color: #ffffff; /* White text for contrast */
    border-radius: 8px;
    padding: 2px 2px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  .main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }
  