
  <app-left-menu (collapsedChange)="isCollapsed = $event"></app-left-menu>
  <div class="error-toast" *ngIf="Message" [ngClass]="isSuccessMessage ? 'success' : 'error'">
    {{ Message }}
</div>
  <div [ngStyle]="{ 'margin-left.px': isCollapsed ? 75 : 190 }">
  <div class="logout-icon" (click)="onLogout()">
    <mat-icon>logout</mat-icon>
  </div>

  <div class="dashboard-greeting">
    <p class="greeting-date">{{ currentDate }}</p>
    <p class="greeting-message">Good {{ greetingTime }}! <span class="username">{{ username }}</span>,</p>
  </div>

  <div *ngIf="showLogoutConfirm" class="confirm-dialog-backdrop">
    <div class="confirm-dialog">
      <h3 class="dialog-title">Confirm Logout</h3>
      <p class="dialog-message">Are you sure you want to logout?</p>
      <div class="dialog-buttons">
        <button mat-raised-button color="primary" (click)="cancelLogout()">Cancel</button>
        <button mat-raised-button color="warn" (click)="confirmLogout()">Yes, Logout</button>
      </div>
    </div>
  </div>
 
  <mat-tab-group>
    <mat-tab label="User">
      <div class="p-4">
        <mat-card class="blue-border card-box" appearance="outlined" (click)="goToUserDetails()">
          <mat-card-content class="card-content text-center">
            <div class="circle blue-circle"></div>
            <div class="card-label">Total Users</div>
            <div class="card-count">{{ totalUsers }}</div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  
    <mat-tab label="Task">
      <div class="p-4">
        <button mat-raised-button color="primary" class="create-task-button" (click)="showTaskForm = true">
          <mat-icon class="button-icon">add_circle</mat-icon>
          Create Task
        </button>
      </div>
      <div style="margin-top: 15px; margin-left: 15px;">
        <button (click)="fileInput.click()" style="padding: 10px 20px; background-color: rgb(0, 125, 209); color: white; border: none; border-radius: 5px; cursor: pointer;">
          Upload File
        </button>
        <input #fileInput type="file" (change)="onFileUpload($event)" accept=".xlsx, .xls, .csv" style="display: none;" />
      </div>
    </mat-tab>
  </mat-tab-group>
  
  <div *ngIf="showTaskForm" class="task-form-overlay">
    <div class="task-form-box">
      <h2 class="form-title">
        New Task
      </h2>
      <div class="custom-form-group">
        <label for="taskName">Task Name</label>
        <input
          type="text"
          id="taskName"
          [(ngModel)]="newTask.name"
          class="custom-input"
        />
      </div>
      <div class="custom-form-group">
        <label for="description">Task</label>
        <textarea
          id="description"
          [(ngModel)]="newTask.description"
          rows="3"
          class="custom-input"
        ></textarea>
      </div>

     
      <div class="custom-form-group">
        <label for="Duedate">Due date</label>
        <input
          type="date"
          id="Duedate"
          [(ngModel)]="newTask.Duedate"
          class="custom-input"
        />
      </div>

      <div class="custom-form-group">
        <label for="userName">Assign to</label>
        <select
          id="userName"
          [(ngModel)]="newTask.username"
          class="custom-input"
        >
          <option value="" disabled selected>Select a user</option>
          <option *ngFor="let user of users" [value]="user.username">{{ user.username }}</option>

        </select>
      </div>
      
      <div class="button-row">
        <button mat-flat-button color="primary" class="action-button save-button" (click)="createTask()">
          Save
        </button>
        
        <button mat-stroked-button color="warn" class="action-button cancel-button" (click)="showTaskForm = false">
          Cancel
        </button>
      </div>
      
    </div>
  </div>
  </div>
