<div class="sidebar" [class.collapsed]="isCollapsed">
    <button class="toggle-button" (click)="toggleSidebar()">
      <mat-icon>{{ isCollapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
    </button>
  
    <ul class="menu">
      <li class="menu-item" routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        <span class="label" *ngIf="!isCollapsed">Dashboard</span>
      </li>
      <li class="menu-item" routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span class="label" *ngIf="!isCollapsed">Profile</span>
      </li>
      <li class="menu-item" routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span class="label" *ngIf="!isCollapsed">Settings</span>
      </li>
    </ul>
  </div>
  