<main class="main">
    <div class="content">
      <div class="right-side">
        <div class="error-toast" *ngIf="Message" [ngClass]="isSuccessMessage ? 'success' : 'error'">
            <mat-card style="background: transparent; box-shadow: none;">
              <mat-card-content>
                {{ Message }}
              </mat-card-content>
            </mat-card>
          </div>
          
  
        <h3 style="font-weight: 500;">SIGNUP</h3>
  
        <div class="social-links">
          <div
            style="border: 1px solid #ccc; border-radius: 8px; width: 382px; padding: 24px; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);">
            <form class="example-form" (ngSubmit)="onRegister()" #loginForm="ngForm">
              <div style="margin-bottom: 16px;">
                <label for="email"
                  style="display: block; font-weight: 500; margin-bottom: 6px;">Email</label>
                <input type="email" id="email" name="email" [(ngModel)]="loginData.email" required
                  style="width: 96%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;" />
              </div>
              <div style="margin-bottom: 16px;">
                <label for="username"
                  style="display: block; font-weight: 500; margin-bottom: 6px;">Username</label>
                <input type="text" id="username" name="username" [(ngModel)]="loginData.username" required
                  style="width: 96%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;" />
              </div>
  
              <div style="margin-bottom: 24px;">
                <label for="password"
                  style="display: block; font-weight: 500; margin-bottom: 6px;">Password</label>
                <input type="password" id="password" name="password" [(ngModel)]="loginData.password" required
                  style="width: 96%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;" />
              </div>
  
              <button type="submit"
                style="background-color: #1976d2; color: white; border: none; padding: 12px; width: 100%; border-radius: 14px; cursor: pointer; font-weight: 600;">
                Register
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  
    <router-outlet />
  </main>
  