<app-header></app-header>
<app-left-menu (collapsedChange)="isCollapsed = $event"></app-left-menu>

<div [ngStyle]="{
  'margin-left.px': isCollapsed ? 58 : 163,
  'margin-top.px': 90
}" class="password-page">
  <mat-card class="password-card">
    <h2 class="password-title">Change Password</h2>
    <div class="password-fields">
      <div class="input-group">
        <label for="oldPassword">Old Password</label>
        <input id="oldPassword" type="password" [(ngModel)]="oldPassword" >
      </div>
      <div class="input-group">
        <label for="newPassword">New Password</label>
        <input id="newPassword" type="password" [(ngModel)]="newPassword" >
      </div>
      <div class="input-group">
        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" type="password" [(ngModel)]="confirmPassword">
      </div>
    </div>
    <div class="action-buttons">
      <button class="btn-save" (click)="changePassword()">Save</button>
      <button class="btn-clear" (click)="clearFields()">Clear</button>
    </div>
  </mat-card>
</div>
